PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=devshowcase
DB_USER=postgres
DB_PASSWORD=your_password_here

# Prisma needs this (add it)
DATABASE_URL="postgresql://postgres:your_password_here@localhost:5432/devshowcase"

JWT_SECRET=your_jwt_secret_here_minimum_32_characters
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000



# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret